<h1>Admin</h1>

<h2>Team: <%= @game_state.points_team %></h2>
<h2>Audience: <%= @game_state.points_audience %></h2>
<h2>State: <%= @game_state.state %></h2>
<h2>Round: <%= @game_state.current_question_number %></h2>

<% if @game_state.starting? %>
  <%= bootstrap_admin_button_form("Frage stellen", "/admin/next_question") %>
<% elsif @game_state.showing_question? %>
  <%= bootstrap_admin_button_form("Publikumsantworten einsammeln", "/admin/change_state", {state: GameState::STATE_AUDIENCE_ANSWERING}) %>
<% elsif @game_state.audience_answering? %>
  <%= bootstrap_admin_button_form("Teamantwort einsammeln", "/admin/change_state", {state: GameState::STATE_TEAM_ANSWERING}) %>
<% elsif @game_state.team_answering? %>
  <% ["A", "B", "C", "D"].each do |value| %>
    <%= bootstrap_admin_button_form(value, "/admin/note_team_answer", {value: value}) %>
    <br />
  <% end %>
<% elsif @game_state.showing_team_answer? %>
  <%= bootstrap_admin_button_form("Publikumsantwort zeigen", "/admin/show_audience_answer") %>
<% elsif @game_state.showing_audience_answer? %>
  <%= bootstrap_admin_button_form("Auflösung", "/admin/show_correct_answer") %>
<% elsif @game_state.showing_correct_answer? %>
  <%= bootstrap_admin_button_form("Punktezuweisung", "/admin/assigning_points") %>
<% elsif @game_state.assigning_points? %>
  <%= bootstrap_admin_button_form("Nächste Frage", "/admin/next_question") %>
  <%= bootstrap_admin_button_form("Spiel beenden", "/admin/finished", {}, "btn-danger pull-right") %>
<% elsif @game_state.finished? || @game_state.show_winner?%>
  <% GameState.instance.list_of_possible_winners.each do |k, v| %>
    <%= bootstrap_admin_button_form("#{k}: #{v}", "/admin/show_winner", {winner_ip: k}) %>
  <% end %>
<% end %>
